body {
    font-family: Avenir Next, Helvetica, Arial, sans-serif;
}

h3 {
    font-weight: normal;
}

.remark-code,
.remark-inline-code {
    font-family: Iosevka, Monaco, Consolas, monospace;
    font-variant: none;
}

.remark-inline-code {
    background-color: #ddd;
}

.remark-code {
    font-size: 1.3em;
}

ol,
ul {
    font-size: 1.5em;
    line-height: 2;
}

a,
a:visited {
    text-decoration: none;
    color: #008;
}

a:hover {
    color: #00d;
}

a.reveal {
    font-weight: bold;
    color: inherit;
}

a.reveal:hover {
    cursor: pointer;
}

.question,
.question .remark-inline-code {
    color: white;
    background-color: black;
}

.question a {
    color: lightblue;
}

table {
    margin: auto;
    font-size: 1.5em;
    /*border-collapse: separate;*/
    border-spacing: 1.5em 0.5em;
}

.red {
    color: red;
}

.green {
    color: blue;
}

.good-example, .good-example code {
    background-color: #ddf !important;
}

.bad-example, .bad-example code {
    background-color: #fdd !important;
}

.terminal code {
    filter: invert(1);
    border-radius: 10px;
}

.terminal code * {
    /* color: white; */
    /* font-weight: normal; */
    text-shadow: 0 0 1px;
}

.handwritten h1 {
    font-family: "Chalkduster";
    font-size: 2em;
}

.mini img {
    width: 45%;
    height: 45%;
}

.mini {
    font-size: 0.9em;
}

.left-column,
.right-column {
    width: 45%;
    display: inline-block;
}

.left-column {
    float: left;
}

.consecutive pre {
    margin-top: 0;
    margin-bottom: 0;
}

.large {
    font-size: 1.5em;
}